<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Path" value="E:\\Sem7\\IPT\\Ass2\\k163620_Q2\\Emails\\" />
    <!-- <add key="Path" value="" />-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>