<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Path" value="E:\\Sem7\\IPT\\Ass2\\k163620_Q5\\CopyFolder\\"/>
    <add key="MonitorPath" value="E:\\Sem7\\IPT\\Ass2\\k163620_Q5\\Monitor"/>
    <add key="LogPath" value="E:\\Sem7\\IPT\\Ass2\\k163620_Q5\\log.txt"/>
    <add key="File" value="E:\\Sem7\\IPT\\Ass2\\k163620_Q5\\file.txt"/>
  </appSettings>
</configuration>